<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Lista de Carnes', ~{::section})}">
<body>
<section>
    <h1 class="text-center mt-4">Lista de Carnes</h1>
    <div class="text-center mb-4">
        <a href="/carne/adicionar" class="btn btn-success">Adicionar Carne</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Origem</th>
            <th>Corte</th>
            <th>Validade</th>
            <th>Bioma</th>
            <th>Idade Abate</th>
            <th>Marmoreio</th>
            <th>Certificação</th>
            <th>Dicas Preparo</th>
            <th>QR Code</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carne : ${carnes}">
            <td th:text="${carne.id}"></td>
            <td th:text="${carne.tipo}"></td>
            <td th:text="${carne.origem}"></td>
            <td th:text="${carne.corte}"></td>
            <td th:text="${carne.validade}"></td>
            <td th:text="${carne.bioma}"></td>
            <td th:text="${carne.idadeAbate}"></td>
            <td th:text="${carne.marmoreio}"></td>
            <td th:text="${carne.certificacaoQualidade}"></td>
            <td th:text="${carne.dicasPreparo}"></td>
            <td><a th:href="${carne.qrCodeUrl}" target="_blank" th:text="${carne.qrCodeUrl}"></a></td>
            <td>
                <a th:href="@{'/carne/editar/' + ${carne.id}}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{'/carne/excluir/' + ${carne.id}}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
